#homepage{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 10em auto;
    grid-template-rows: 50px auto;
    grid-template-areas: 
        "sidebar banner"
        "sidebar main"
        "sidebar ft"
    ;
    height: minmax(100vh, auto);
}

#banner{
    background-color: bisque;
    grid-area: banner;
}

#sidebar{
    background-color: aqua;
    grid-area: sidebar;
    padding-left: 10px;
    color: slateblue;
    line-height: 2em;
    position: fixed;
    height: 100%;
    width: 150px;
}

#main{
    background-image: linear-gradient(palevioletred, white);
    grid-area: main;
    height: minmax(100vh, auto);
    display: flex;
    flex-direction: column;
}

#footer{
    grid-area: ft;
    height: 50px;;
    width: minmax(100vh, auto);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 2px solid darkgray;
}

a{
    text-decoration: none;
}

p{
    text-indent: 25px;
    padding: 10px;
}

h1,h2,h3,h4,h5,h6{
    padding: 10px;
}

.spaceoutft{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.pic{
    width: 300px;
    margin: auto;
    padding: 10px;
}

.medpic{
    width: 250px;
    margin: auto;
    padding: 10px;
}

.smallpic{
    width: 150px;
    margin: auto;
    padding: 10px;
}

.logopic{
    width: 20px;
    padding: 2px;
}

.gif{
    padding: 10px;
    object-fit: scale-down;
}
.sblink{
    text-align: center;
    color: slateblue;
}

.selectedlink{
    text-align: center;
    color: rgb(104, 5, 170);;
    font-weight: 800;
}

.imgcontainer3{
    margin-left: auto;
    margin-right: auto;
}

.imgcontainer2{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-right: auto;
}
 
.imgcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.manualindent{
    padding-left: 25px;
}

.bicol{
    columns: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.prettytext{
    background: -webkit-repeating-linear-gradient(left, rgb(175, 19, 19), #f3657d, rgb(179, 131, 27));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.prettytext3{

}

.verticalspace{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blurb{
    width: 30%;
}

#iglink{
    background: -webkit-linear-gradient(left, rgb(1, 179, 233),rgb(131, 203, 224),  rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}