/*SMALLEST SIZED SCREEN*/
.b_spaceoutft{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.b_pic{
    width: 125px;
    margin: auto;
    padding: 10px;
}

.b_medpic{
    width: 100px;
    margin: auto;
    padding: 10px;
}

.b_smallpic{
    width: 75px;
    margin: auto;
    padding: 10px;
}

.b_logopic{
    height: 1em;
    width: auto;
    padding: 2px;
}

.b_sblink{
    text-align: center;
    color: slateblue;
    font-size: 0.8em;
}

.b_selectedlink{
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    color: rgb(104, 5, 170);;
    font-weight: 800;
    font-size: 0.8em;
}

.b_imgcontainer4{
    margin-left: 75px;
    margin-right: auto;
}

.b_imgcontainer3{
    margin-left: auto;
    margin-right: auto;
}

.b_imgcontainer2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: auto;
}

.b_imgcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.b_manualindent{
    padding-left: 10px;
}

.b_centered{
    text-align: center;
}

.b_verticalspace{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.b_blurb{
    width: 70%;
}

#b_iglink{
    background: -webkit-linear-gradient(left, rgb(1, 179, 233),rgb(131, 203, 224),  rgb(255, 255, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*SMALL but not mini SIZED SCREEN*/
@media (min-width: 453px) and (max-width: 719px) {
    .b_sblink{
        text-align: center;
        color: slateblue;
        font-size: 1em;
    }

    .b_selectedlink{
        background-color: rgba(255, 255, 255, 0.9);
        text-align: center;
        color: rgb(104, 5, 170);;
        font-weight: 800;
        font-size: 1em;
    }

    .b_manualindent{
        padding-left: 25px;
    }
}

/*MEDIUM SIZED SCREENS*/
@media (min-width: 720px) and (max-width: 977px) {
    .b_pic{
        width: 200px;
        margin: auto;
        padding: 10px;
    }

    .b_medpic{
        width: 150px;
        margin: auto;
        padding: 10px;
    }

    .b_smallpic{
        width: 100px;
        margin: auto;
        padding: 10px;
    }

    .b_sblink{
        text-align: center;
        color: slateblue;
        font-size: 1em;
    }

    .b_selectedlink{
        text-align: center;
        color: rgb(104, 5, 170);;
        font-weight: 800;
        font-size: 1em;
    }

    .b_imgcontainer4{
        margin-left: 100px;
        margin-right: auto;
    }

    .b_imgcontainer2{
        display: flex;
        flex-direction: row;
        margin-left: 25px;
        margin-right: auto;
    }
    
    .b_imgcontainer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .b_manualindent{
        padding-left: 25px;
    }

    .b_blurb{
        width: 50%;
    }
}

/*LARGEST SIZED SCREENS*/
@media (min-width: 978px){
    .b_pic{
        width: 300px;
        margin: auto;
        padding: 10px;
    }

    .b_medpic{
        width: 250px;
        margin: auto;
        padding: 10px;
    }

    .b_smallpic{
        width: 150px;
        margin: auto;
        padding: 10px;
    }

    .b_sblink{
        text-align: center;
        color: slateblue;
        font-size: 1em;
    }

    .b_selectedlink{
        text-align: center;
        color: rgb(104, 5, 170);;
        font-weight: 800;
        font-size: 1em;
    }

    .b_imgcontainer4{
        margin-left: auto;
        margin-right: auto;
    }

    .b_imgcontainer2{
        display: flex;
        flex-direction: row;
        margin-left: 25px;
        margin-right: auto;
    }
    
    .b_imgcontainer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .b_manualindent{
        padding-left: 25px;
    }

    .b_blurb{
        text-align: justify;
        margin: auto;
    }
}