/*SMALLEST SIZED SCREENS*/
#homepage{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 10em auto;
    grid-template-rows: 50px auto;
    grid-template-areas: 
        "sidebar banner"
        "sidebar main"
        "sidebar ft"
    ;
    height: minmax(100vh, auto);
}

#banner{
    background-color: bisque;
    grid-area: banner;
}

#sidebar{
    background-color: aqua;
    grid-area: sidebar;
    padding-left: 10px;
    color: slateblue;
    line-height: 2em;
    position: fixed;
    height: 100%;
    width: 150px;
}

#main{
    background-image: linear-gradient(palevioletred, white);
    grid-area: main;
    height: minmax(100vh, auto);
}

#footer{
    grid-area: ft;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 2px solid darkgray;
}

a{
    text-decoration: none;
}

p{
    text-indent: 25px;
    padding: 10px;
}

h1,h2,h3,h4,h5,h6{
    padding: 10px;
}

.spaceoutft{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.pic{
    width: 250px;
    margin: auto;
    padding: 10px;
}

.smallpic{
    width: 75px;
    margin: auto;
    padding: 5px;
}

.logopic{
    height: 1em;
    width: auto;
    padding: 2px;
}

.gif{
    padding: 10px;
    object-fit: scale-down;
}

.sblink{
    text-align: center;
    color: slateblue;
}

.selectedlink{
    text-align: center;
    color: rgb(104, 5, 170);;
    font-weight: 800;
}
 
.imgcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.manualindent{
    padding-left: 25px;
}

.bicol{
    columns: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    word-wrap: break-word;
    padding-right: 10px;
}

.prettytext{
    background: -webkit-repeating-linear-gradient(left, rgb(175, 19, 19), #f3657d, rgb(250, 195, 78));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.verticalspace{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.underline{
    text-decoration: underline;
}

.contained{
    width:85%;
}

.sched{
    border: 10px ridge rgb(255, 169, 209);
    padding-top: 5px;
    padding-bottom: 5px;
    margin:15px;
}

#dailyschedule{
}

#eating{

}

#bathroom{

}

#downtime{

}

#training{

}

#playing{

}

#homealone{

}

#cleaning{

}

#bedtime{

}

#maintenance{

}

/*MEDIUM SIZED SCREENS*/
@media (min-width: 720px) and (max-width: 950px) {
    #homepage{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 10em auto;
        grid-template-rows: 50px auto;
        grid-template-areas: 
            "sidebar banner"
            "sidebar main"
            "sidebar ft"
        ;
        height: minmax(100vh, auto);
    }
    
    #banner{
        background-color: bisque;
        grid-area: banner;
    }
    
    #sidebar{
        background-color: aqua;
        grid-area: sidebar;
        padding-left: 10px;
        color: slateblue;
        line-height: 2em;
        position: fixed;
        height: 100%;
        width: 150px;
    }
    
    #main{
        background-image: linear-gradient(palevioletred, white);
        grid-area: main;
        height: minmax(100vh, auto);
    }
    
    #footer{
        grid-area: ft;
        height: 50px;;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        border-top: 2px solid darkgray;
    }
    
    a{
        text-decoration: none;
    }
    
    p{
        text-indent: 25px;
        padding: 10px;
    }
    
    h1,h2,h3,h4,h5,h6{
        padding: 10px;
    }
    
    .spaceoutft{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;
    }
    
    .pic{
        width: 300px;
        margin: auto;
        padding: 10px;
    }
    
    .smallpic{
        width: 120px;
        margin: auto;
        padding: 10px;
    }
    
    .logopic{
        height: 1em;
        width: auto;
        padding: 2px;
    }
    
    .gif{
        padding: 10px;
        object-fit: scale-down;
    }
    
    .sblink{
        text-align: center;
        color: slateblue;
    }
    
    .selectedlink{
        text-align: center;
        color: rgb(104, 5, 170);;
        font-weight: 800;
    }
     
    .imgcontainer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .manualindent{
        padding-left: 25px;
    }
    
    .bicol{
        columns: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .prettytext{
        background: -webkit-repeating-linear-gradient(left, rgb(175, 19, 19), #f3657d, rgb(250, 195, 78));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .verticalspace{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .underline{
        text-decoration: underline;
    }
    
    .sched{
        border: 10px ridge rgb(255, 169, 209);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 20px;
    }
    
    #dailyschedule{
    
    }
    
    #eating{
    
    }
    
    #bathroom{
    
    }
    
    #downtime{
    
    }
    
    #training{
    
    }
    
    #playing{
    
    }
    
    #homealone{
    
    }
    
    #cleaning{
    
    }
    
    #bedtime{
    
    }
    
    #maintenance{
    
    }
}

/*LARGEST SIZED SCREENS*/
@media (min-width: 951px){
    #homepage{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 10em auto;
        grid-template-rows: 50px auto;
        grid-template-areas: 
            "sidebar banner"
            "sidebar main"
            "sidebar ft"
        ;
        height: minmax(100vh, auto);
    }
    
    #banner{
        background-color: bisque;
        grid-area: banner;
    }
    
    #sidebar{
        background-color: aqua;
        grid-area: sidebar;
        padding-left: 10px;
        color: slateblue;
        line-height: 2em;
        position: fixed;
        height: 100%;
        width: 150px;
    }
    
    #main{
        background-image: linear-gradient(palevioletred, white);
        grid-area: main;
        height: minmax(100vh, auto);
    }
    
    #footer{
        grid-area: ft;
        height: 50px;;
        width: minmax(100vh, auto);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        border-top: 2px solid darkgray;
    }
    
    a{
        text-decoration: none;
    }
    
    p{
        text-indent: 25px;
        padding: 10px;
    }
    
    h1,h2,h3,h4,h5,h6{
        padding: 10px;
    }
    
    .spaceoutft{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;
    }
    
    .pic{
        width: 300px;
        margin: auto;
        padding: 10px;
    }
    
    .smallpic{
        width: 200px;
        margin: auto;
        padding: 10px;
    }
    
    .logopic{
        height: 1em;
        width: auto;
        padding: 2px;
    }
    
    .gif{
        padding: 10px;
        object-fit: scale-down;
    }
    
    .sblink{
        text-align: center;
        color: slateblue;
    }
    
    .selectedlink{
        text-align: center;
        color: rgb(104, 5, 170);
        font-weight: 800;
    }
        
    .imgcontainer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .manualindent{
        padding-left: 25px;
    }
    
    .bicol{
        columns: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .prettytext{
        background: -webkit-repeating-linear-gradient(left, rgb(175, 19, 19), #f3657d, rgb(250, 195, 78));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .verticalspace{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .underline{
        text-decoration: underline;
    }
    
    .sched{
        border: 10px ridge rgb(255, 169, 209);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 20px;
    }
    
    #dailyschedule{
    
    }
    
    #eating{
    
    }
    
    #bathroom{
    
    }
    
    #downtime{
    
    }
    
    #training{
    
    }
    
    #playing{
    
    }
    
    #homealone{
    
    }
    
    #cleaning{
    
    }
    
    #bedtime{
    
    }
    
    #maintenance{
    
    }
}