/*SMALLEST SIZED SCREENS*/
.g_spaceoutft{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.g_pic{
    width: 150px;
    margin: auto;
    padding: 10px;
}

.g_smallpic{
    width: 65px;
    margin: auto;
    padding: 5px;
}

.g_logopic{
    height: 1em;
    width: auto;
    padding: 2px;
}

.g_imgcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.g_manualindent{
    padding-left: 5px;
}

.g_bicol{
    columns: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    word-wrap: break-word;
    padding-right: 10px;
}

.g_prettytext{
    background: -webkit-repeating-linear-gradient(left, rgb(175, 19, 19), #f3657d, rgb(250, 195, 78));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.g_underline{
    text-decoration: underline;
}

.g_bold{
    font-weight: 700;
}

.g_italic{
    font-style: italic;
}

.g_contained{
    width:85%;
}

.g_sched{
    border: 5px ridge rgb(255, 169, 209);
    padding: 5px;
    margin: 10px;
    width: 120px;
    padding-inline-start: 20px;
}

.g_sblink{
    text-align: center;
    color: slateblue;
    font-size: 0.75em;
}

.g_selectedlink{
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    color: rgb(104, 5, 170);;
    font-weight: 700;
    font-size: 0.75em;
}

.g_jumplink_font{
    font-size: 0.75em;
}

/*jump links*/
#g_dailyschedule{
}

#g_eating{
}

#g_bathroom{
}

#g_downtime{
}

#g_training{
}

#g_playing{
}

#g_homealone{
}

#g_cleaning{
}

#g_bedtime{
}

#g_maintenance{
}

/*SMALL but not mini SIZED SCREEN*/
@media (min-width: 453px) and (max-width: 719px) {
    .g_pic{
        width: 80%;
        margin: auto;
        padding: 10px;
    }

    .g_smallpic{
        width: 40%;
        margin: auto;
        padding: 5px;
    }

    .g_manualindent{
        padding-left: 15px;
    }

    .g_sched{
        border: 10px ridge rgb(255, 169, 209);
        padding-top: 5px;
        padding-bottom: 5px;
        margin:10px;
        width: 75%;
        padding-inline-start: 30px;
    }

    .g_sblink{
        text-align: center;
        color: slateblue;
        font-size: 1em;
    }

    .g_selectedlink{
        background-color: rgba(255, 255, 255, 0.9);
        text-align: center;
        color: rgb(104, 5, 170);;
        font-weight: 700;
        font-size: 1em;
    }

    .g_jumplink_font{
        font-size: 1em;
    }
}

/*MEDIUM SIZED SCREENS*/
@media (min-width: 720px) and (max-width: 950px) {
    .g_spaceoutft{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;
    }
    
    .g_pic{
        width: 300px;
        margin: auto;
        padding: 10px;
    }
    
    .g_smallpic{
        width: 120px;
        margin: auto;
        padding: 10px;
    }
    
    .g_imgcontainer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .g_manualindent{
        padding-left: 15px;
    }

    .g_bicol{
        columns: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .g_sched{
        border: 10px ridge rgb(255, 169, 209);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 20px;
        width: 40%;
        padding-inline-start: 40px;
    }

    .g_sblink{
        text-align: center;
        color: slateblue;
        font-size: 1em;
    }

    .g_selectedlink{
        background-color: rgba(255, 255, 255, 0.9);
        text-align: center;
        color: rgb(104, 5, 170);;
        font-weight: 700;
        font-size: 1em;
    }
    
    .g_jumplink_font{
        font-size: 1em;
    }
}

/*LARGEST SIZED SCREENS*/
@media (min-width: 951px){
    .g_spaceoutft{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;
    }
    
    .g_pic{
        width: 300px;
        margin: auto;
        padding: 10px;
    }
    
    .g_smallpic{
        width: 160px;
        margin: auto;
        padding: 10px;
    }

    .g_imgcontainer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .g_manualindent{
        padding-left: 15px;
    }

    .g_bicol{
        columns: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .g_sched{
        border: 10px ridge rgb(255, 169, 209);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 20px;
        width: 40%;
        padding-inline-start: 40px;
    }

    .g_sblink{
        text-align: center;
        color: slateblue;
        font-size: 1em;
    }

    .g_selectedlink{
        background-color: rgba(255, 255, 255, 0.9);
        text-align: center;
        color: rgb(104, 5, 170);;
        font-weight: 700;
        font-size: 1em;
    }
    
    .g_jumplink_font{
        font-size: 1em;
    }
}