/*SMALLEST SIZED SCREENS: anything smaller than 720px*/
#homepage{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 100px auto;
    grid-template-rows: 75px auto;
    grid-template-areas: 
        "sidebar banner"
        "sidebar main"
        "sidebar ft"
    ;
    height: minmax(100vh, auto);
    width: auto;
}

#banner{
    background-color: bisque;
    grid-area: banner;
    width: 100%;
    height: 75px;
}

#sidebar{
    background-color: aqua;
    grid-area: sidebar;
    padding-left: 10px;
    color: slateblue;
    line-height: 2em;
    position: fixed;
    height: 100%;
    width: 90px;
}

#main{
    background-image: linear-gradient(palevioletred, white);
    grid-area: main;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
        "pic"
        "desc"
        "logo"
        "cards"
        "desc2"
        "pic2"
        "endp"
    ;
    height: minmax(100vh, auto);
}

#footer{
    grid-area: ft;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 2px solid darkgray;
}

*{
    font-family: 'Sulphur Point', sans-serif;
}

a{
    text-decoration: none;
}

p{
    text-indent: 25px;
    padding: 10px;
    width: 80%;
}
strong{
    font-weight: 1000;
    background-color: rgba(146, 92, 182, 0.5)
}

h1,
h2,
h3,
h4,
h5,
h6{
    padding: 10px;
}

button{
    width: 100px;
    font-size: 1em;
    margin: auto;
    padding: 5px;
    background-color: rgba(255,255,255,.5)
}

text{
    padding-left: 10px;
    padding-right: 10px;
}


.buttoncontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right:20%;
    left: 20%; 
}

.spaceoutft{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.pic{
    width: 300px;
    margin: auto;
    padding: 10px;
}

.medpic{
    width: 250px;
    margin: auto;
    padding: 10px;
}

.smallpic{
    width: 150px;
    margin: auto;
    padding: 10px;
}

.logopic{
    height: 1em;
    width: auto;
    padding: 2px;
}

.gif{
    padding: 10px;
    object-fit: scale-down;
}

.sblink{
    text-align: center;
    color: slateblue;
}

.selectedlink{
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    color: rgb(104, 5, 170);
    font-weight: 800;
}

.prettytext2{
    background: -webkit-repeating-linear-gradient(left, rgb(51, 24, 114), #91006c,  rgb(175, 19, 19));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.center{
    display: flex;
    align-content: space-between;
    flex-direction: column;
}

.justifytext{
    text-align: justify;
}

.minititle{
    padding: 1px;
    text-align: center;
}

.picborder{
    border-radius: 10%;
}

.buttonborder{
    border-radius: 15%;
}

.breederimg{
    height: auto;
    width: 300px;
}

.card{
    border: 5px solid white;
    border-radius: 10%;
    height: 420px;
    width: 250px;
    margin: 15px;
    position: relative;
}

#mainpic{
    grid-area: pic;
    border: 10px dotted pink;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width:200px;
    height: auto;
}

#desc{
    grid-area: desc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    grid-area: logo;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    height: auto;
}

#cards{
    grid-area: cards;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#carelink{
    background-image: linear-gradient(to top left, white, rgb(243, 220, 93));
}

#blog1{
    background-image: linear-gradient(to top left, white, aquamarine);
}

#blog2{
    background-image: linear-gradient(to top left, white, plum);
}

#blog3{
    background-image: linear-gradient(to top left, white, cornflowerblue);
}

#desc2{
    grid-area: desc2;
    justify-content: center;
    margin: 20px;
    word-wrap: break-word;
}

#pic2{
    grid-area: pic2;
    padding-right: 20px;
}

#teslasfaves{
    columns: 1;
}

#endp{
    grid-area: endp;
    margin: 15px;
}

#pic3{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*MEDIUM SIZED SCREENS*/
@media (min-width: 720px) and (max-width: 977px) {
    #homepage{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 100px auto;
        grid-template-rows: 100px auto;
        grid-template-areas: 
            "sidebar banner"
            "sidebar main"
            "sidebar ft"
        ;
        height: minmax(100vh, auto);
        width: auto;
    }
    

    #banner{
        background-color: bisque;
        grid-area: banner;
        width: 100%;
        height: 100px;
    }

    #sidebar{
        background-color: aqua;
        grid-area: sidebar;
        padding-left: 10px;
        color: slateblue;
        line-height: 2em;
        position: fixed;
        height: 100%;
        width: 90px;
    }

    #main{
        background-image: linear-gradient(palevioletred, white);
        grid-area: main;
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
            "pic pic desc desc"
            "desc desc desc desc"
            "logo logo logo logo"
            "cards cards cards cards"
            "cards cards cards cards"
            "desc2 desc2 desc2 pic2"
            "endp endp endp endp"
        ;
        height: minmax(100vh, auto);
    }

    #footer{
        grid-area: ft;
        height: 50px;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        border-top: 2px solid darkgray;
    }

    a{
        text-decoration: none;
    }
    
    p{
        text-indent: 25px;
        padding: 10px;
        width: 80%;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        padding: 10px;
    }
    
    button{
        width: 100px;
        font-size: 1em;
        margin: auto;
        padding: 5px;
    }
    
    text{
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .spaceoutft{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;
    }
    
    .pic{
        width: 300px;
        margin: auto;
        padding: 10px;
    }
    
    .medpic{
        width: 250px;
        margin: auto;
        padding: 10px;
    }
    
    .smallpic{
        width: 150px;
        margin: auto;
        padding: 10px;
    }
    
    .logopic{
        height: 1em;
        width: auto;
        padding: 2px;
    }
    
    .gif{
        padding: 10px;
        object-fit: scale-down;
    }
    
    .sblink{
        text-align: center;
        color: slateblue;
    }
    
    .selectedlink{
        text-align: center;
        color: rgb(104, 5, 170);
        font-weight: 800;
    }
    
    .prettytext2{
        background: -webkit-repeating-linear-gradient(left, rgb(51, 24, 114), #91006c,  rgb(175, 19, 19));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .center{
        display: flex;
        align-content: space-between;
        flex-direction: column;
    }
    
    .justifytext{
        text-align: justify;
    }
    
    .minititle{
        padding: 1px;
        text-align: center;
    }
    
    .picborder{
        border-radius: 10%;
    }
    
    .breederimg{
        width: 450px;
    }

    .card{
        border: 5px solid white;
        border-radius: 10%;
        height: 435px;
        width: 42%;
        margin: 15px;
    }

    #mainpic{
        grid-area: pic;
        border: 15px dotted pink;
        margin: 20px auto 5px;
        width: 50%;
    }
    
    #desc{
        grid-area: desc;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
    
    #logo{
        grid-area: logo;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #cards{
        grid-area: cards;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }
    
    #carelink{
        background-image: linear-gradient(to top left, white, rgb(243, 220, 93));
    }
    
    #blog1{
        background-image: linear-gradient(to top left, white, aquamarine);
    }
    
    #blog2{
        background-image: linear-gradient(to top left, white, plum);
    }
    
    #blog3{
        background-image: linear-gradient(to top left, white, cornflowerblue);
    }
    
    #desc2{
        grid-area: desc2;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    
    #pic2{
        margin-top: 0px;
        grid-area: pic2;
        padding-right: 20px;
        width: 30%;
    }
    
    #teslasfaves{
        columns: 3;
    }
    
    #endp{
        grid-area: endp;
    }
    
    #pic3{
        padding-left: 20px;
        margin: initial;
    }
}

/*LARGEST SCREEN SIZE*/
@media (min-width: 978px) {
    #homepage{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 100px auto;
        grid-template-rows: 120px auto;
        grid-template-areas: 
            "sidebar banner"
            "sidebar main"
            "sidebar ft"
        ;
        height: minmax(100vh, auto);
        width: auto;
    }

    #banner{
        background-color: bisque;
        grid-area: banner;
        width: 100%;
        height: 120px;
    }

    #sidebar{
        background-color: aqua;
        grid-area: sidebar;
        padding-left: 10px;
        color: slateblue;
        line-height: 2em;
        position: fixed;
        height: 100%;
        width: 90px;
    }

    #main{
        background-image: linear-gradient(palevioletred, white);
        grid-area: main;
        display: grid;
        grid-gap: 15px;
        grid-template-areas: 
            "pic pic desc desc"
            "logo logo logo logo"
            "cards cards cards cards"
            "desc2 desc2 desc2 pic2"
            "endp endp endp endp"
        ;
        height: minmax(100vh, auto);
    }

    #footer{
        grid-area: ft;
        height: 50px;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        border-top: 2px solid darkgray;
    }
    
    a{
        text-decoration: none;
    }
    
    p{
        text-indent: 25px;
        padding: 10px;
        width: 85%;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        padding: 10px;
    }
    
    button{
        width: 100px;
        font-size: 1em;
        margin: auto;
        padding: 5px;
    }
    
    text{
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .spaceoutft{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;
    }
    
    .pic{
        width: 300px;
        margin: auto;
        padding: 10px;
    }
    
    .medpic{
        width: 250px;
        margin: auto;
        padding: 10px;
    }
    
    .smallpic{
        width: 150px;
        margin: auto;
        padding: 10px;
    }
    
    .logopic{
        height: 1em;
        width: auto;
        padding: 2px;
    }
    
    .gif{
        padding: 10px;
        object-fit: scale-down;
    }
    
    .sblink{
        text-align: center;
        color: slateblue;
    }
    
    .selectedlink{
        text-align: center;
        color: rgb(104, 5, 170);
        font-weight: 800;
    }
    
    .prettytext2{
        background: -webkit-repeating-linear-gradient(left, rgb(51, 24, 114), #91006c,  rgb(175, 19, 19));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .center{
        display: flex;
        align-content: space-between;
        flex-direction: column;
    }
    
    .justifytext{
        text-align: justify;
    }
    
    .minititle{
        padding: 1px;
        text-align: center;
    }
    
    .picborder{
        border-radius: 10%;
    }
    
    .breederimg{
        width: 550px;
    }

    .card{
        border: 5px solid white;
        border-radius: 10%;
        height: 500px;
        width: 20%;
        margin: 15px;
    }

    #mainpic{
        grid-area: pic;
        border: 10px dotted pink;
        margin: 20px 25px 0px;
        width: 80%;
    }
    
    #desc{
        grid-area: desc;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #logo{
        grid-area: logo;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #cards{
        grid-area: cards;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
    }
    
    #carelink{
        background-image: linear-gradient(to top left, white, rgb(243, 220, 93));
    }
    
    #blog1{
        background-image: linear-gradient(to top left, white, aquamarine);
    }
    
    #blog2{
        background-image: linear-gradient(to top left, white, plum);
    }
    
    #blog3{
        background-image: linear-gradient(to top left, white, cornflowerblue);
    }
    
    #desc2{
        grid-area: desc2;
    }
    
    #pic2{
        grid-area: pic2;
        padding-right: 20px;
        width: 200px;
    }
    
    #teslasfaves{
        columns: 3;
        column-gap: 50px;
    }
    
    #endp{
        grid-area: endp;
    }
    
    #pic3{
        padding-left: 20px;
        margin: initial;
    }
}